@import './css-style/generic-styles.css';
@import './sass-style/functions.scss';
@import './sass-style/menu.scss';
@import './sass-style/footer.scss';
@import './sass-style/login.scss';
@import './sass-style/home.scss';
@import './sass-style/header.scss';
@import './sass-style/registro.scss';


@media all and(max-width:767px){
#content2-visibility{
    background: rgba(36, 49, 65, 0.5);
    position: absolute !important;
    top: -188px !important;
    height: 188px;
    padding-top: 29px !important;
    box-sizing: border-box;

    .flex
    {
        display:block;
        &.checkboxes{
          display:none;
        }
    }
}
}


@media (max-width: 1024px){
   
    .jc-between {
      flex-wrap: wrap
    }
 }

@media (max-width: 1024px){
 
/*Company */
iframe {
    height: 300px;
}
.width-30 {
    width: 40%;
}

.info-desc p {
    font-size: 12px;
}
.flex.content {
    width: 90%;
}
    
}

nav#superior ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

button.share
{
    padding: 10px 20px;
    color: #fff;
    border: none;
}
.share-btns
{
    margin: 30px 0;
}
div.related-jobs
{
    width: 60%;
    justify-content: space-around;
    margin: 0;
}
.flex.jc-between.items-center
{
    height: 150px;
    font-size: 15px;
    border-top: 1px solid #ddd;
}
.last-section {
    display: flex;
    width: 47%;
    align-items: center;
    margin-bottom: 40px
}
.last-section-text
{
    margin-left: 30px
}
.last-section a
{
    color: #648eca;
    text-decoration: none;
    font-size: 12px
}
@media (max-width: 768px){

.flex.content {
    width: 90%;
}
.width-40 {
 width: 80%;
}
.footer-in {
    width: 90%;
}

.last-section
{
    width: 100%;
}

.view-caja
{
    margin: auto;
}
.content-2
{
    padding: 0 !important;
    position: relative !important;
    top: 0 !important;
    width: 100%;
}
.flex.content-2
{
    display: flex;
    flex-wrap: wrap;
}
.flex.checkboxes{
      display:flex;
      flex-wrap: wrap;
        
}
}


@media (max-width: 700px){
   
    .flex.content {
    width: 80%;
}
    .mr-1 {
    margin-right: 0px;
}
    
    .align-center {
    display: block;
    align-self: center;
    text-align: center !important;
}
 .flex {
    display: block;
}   
    .width-75 {
    width: 100%;
}
    .width-25 {
    width: 100%;
}
    .input-login {
    width: 100%;
}
    .contact-box input, .contact-box textarea {
    width: 100%;
}
    .flex.jc-between.items-center {
    height: 230px;
    margin-bottom: 10px;
}
    .width-40 {
    width: 100%;
}
    div.related-jobs {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
    .view-job {
    width: 50%;
    text-align: center !important;
    margin: auto !important;
    margin-top: 10px !important;
}
    .footer-1 {
    width: 100%;
    margin-bottom: 20px;
    }

    .footer-in {
    display: block;
    margin: 0 auto;
}
    .footer-3 {
    display: block;
}
    footer button {
    padding: 10px 0px;
    padding-left: 0px;
    width: 30%;
    display: ruby-text;
    padding-left: 10px;
    margin-top: 15px;
}

   .flex {
    display: ruby;
    width: 90% !important;
} 
button.share {
    padding: 10px 10px;
}
.flex {
    display: block;
    width: 100% !important;
}
.inline {
    
    display: inline-flex;
    justify-content: flex-end;
    margin: auto;
}
.a-registro {
    margin-bottom: 10px;
}
    
}

@media all and (max-width: 992px) {

	nav#superior {
        display: none;
        width: 100%
    }
	nav#superior ul {
        flex-direction: column;
    }
    .hide
    {
        display: block
    }
    .menu-2
    {
        display: none
    }
    .menu-top
    {
        flex-wrap: wrap
    }
    .menu-top ul
    {
        align-items: flex-start;
    }
}

