@import url('https://fonts.googleapis.com/css?family=Montserrat');

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    max-width: 1500px;
    margin: 0 auto
}

/*menu*/
.menu
{
    background: #fff
}
.menu-top
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    align-items: center
}
.menu-top ul
{
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center
}
.menu-top li a
{
    padding:0 10px;
    font-size: 12px;
    text-decoration: none;
    color: #000
}
li.login-menu
{
    border: 1px solid #ddd;
    padding: 10px 20px
}


button#menu {
	
    display: none;
    background: transparent;
    border: none;
    font-size: 20px
}
button#menu:focus + nav#superior {
	
    display: block;
}
nav#superior ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}



.hide
{
    display: none;
}


@media all and (max-width: 1240px) {
	/* En smartphone mostramos el botón */
    button#menu {
        display: block;
    }
	nav#superior {
        display: none;
        width: 100%
    }
	nav#superior ul {
        flex-direction: column;
    }
    .hide
    {
        display: block
    }
    .menu-2
    {
        display: none
    }
    .menu-top
    {
        flex-wrap: wrap
    }
    .menu-top ul
    {
        align-items: flex-start
    }
}


/*Termina el menu*/

/*Footer*/
footer
{
    background: #202020;
    color: #fff;
    padding: 40px 0 0 0
}
footer h2
{
    text-transform: uppercase;
    margin: 0
}
.footer-in
{
        display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto
}
.fb-button
{
    background: #2b4a8b
}
.tw-button
{
    background: #1f94d9
}
.g-button
{
    background: #d83936
}
.footer-1
{
    width: 30%
}
footer ul
{
    list-style: none;
    padding: 0;
    color: #7a7a7a
}
.footer-3
{
        display: flex;
    flex-direction: column;
}
footer button
{
    color: #fff;
    border: 0;
    padding: 10px 20px;
    text-align: left;
    margin: 3px 0;
}
.footer-bottom
{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    border-top: .5px solid #4c4c4c;
    color: #7a7a7a
}
footer p
{
    color: #7a7a7a
}
/* Clases Genericas*/
.flex
{
    display: flex
}
.flex-center
{
    display: flex;
    justify-content: center
}
.align-center
{
    display: flex;
    align-self: center
}
.columna
{
    flex-direction: column
}
.flex p, .flex h5
{
    margin: 0
}
.flex.content
{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.content-2
{
    margin: 0 auto;
    background: #243141;
    padding: 20px 0px;
}
.flex.content-2
{
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    
   
}
.checkboxes
{
    color: #fff;
   width: 40%;
    justify-content: space-between
}

.flex.content-2 input
{
    padding: 10px
}
.flex.content-2 button
{
    padding: 10px 25px;
    background: #3a84e3;
    border: none;
    color: #fff
}
.jc-between
{
    justify-content: space-between
}
.jc-center
{
    justify-content: center
}
.jc-around
{
    justify-content: space-around
}

.mr-1
{
    margin-right: 15px
}
.mt-1
{
    margin-top: 15px !important
}
.mt-5
{
    margin-top: 50px !important
}
.mb-1
{
    margin-bottom: 15px
}
.m-auto
{
    margin: 0 auto
}
.pb-1
{
    padding-bottom: 15px
}
.pr-4
{
    padding-right: 40px
}


.borde-completo
{
    border: 1px solid #ddd
}
.width-10
{
    width: 10%
}
.width-20
{
    width: 20%
}
.width-25
{
    width: 25%
}

.width-30
{
    width: 30%
}
.width-40
{
    width: 40%
}
.width-50
{
    width: 50%
}
.width-60
{
    width: 60%
}
.width-70
{
    width: 70%
}
.width-75
{
    width: 75%
}
.width-80
{
    width: 80%
}
.width-90
{
    width: 90%
}
.items-center
{
    align-items: center
}
.row
{
    flex-direction: column
}
.t-center
{
    text-align: center
}






/*Cambios de página de login*/
.login
{
    width:25%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    padding: 50px;
    background: #fafafa
}

.login-btn
{
    background: #3a84e3;
    width: 100%;
    border: none;
    padding: 20px;
    color: #fff;
    text-transform: uppercase
}
.login h3
{
    margin-bottom: 30px;
    margin-top: 0
}
.inline
{
    display: flex;
    justify-content: space-between
}
.input-login
{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #e7e7e7
}
.lost-pw
{
    color: #999999    ;
    text-decoration: none
}

/*Inicia Registro*/
.rs-registro
{
    width: 60px !important;
    height: 60px !important;
    color: #fff;
    border: none;
    margin: 5px;
    font-size: 20px
}

/*Inicia jod-details*/
.encabezado
{
    display: flex;
    height: 200px;
    background: #ddd;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;

}
.encabezado-index
{
    display: flex;
    height: 500px;
    background: #ddd;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    color: #fff;
    background: url(banner.jpeg);
    background-size: cover
}
.encabezado-index-2
{
    display: flex;
    height: 300px;
    background: #ddd;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    color: #fff;
    background: url(banner-213.jpg);
    background-size: cover
}    






.job-time
{
    border: 1px solid #fff;
    width: auto;
    padding: 5px 20px;
    margin: 30px auto;
    align-self: center;
    color: #fff;
    border-radius: 5px
}
.job-desc
 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    color: #3a84e3;
     font-weight: 600
}
.info-desc
{
    height: 200px;
    display: flex
}
.info-desc span
{
    border: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 10px
}
.icon-job-desc
{
    font-size: 15px;
    background: #3a84e3;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    margin-right: 10px
}
.info-desc
{
    background: #fff
}

.info-desc p
{
    font-size: 10px
}
.info-desc .border-left
{
    border-left: 1px solid #ddd;
    padding: 30px 0 30px 20px
}
.info-desc p.mt-1
{
    margin-top: 15px
}
.job-text
{
    width: 80%;
    margin: 0 auto 50px
    
}
.skills-ul
{
    color: #3a84e3    ;
    list-style: square
}
.skills-ul p
{
    color: #000
}
.btn-apply
{
    padding: 15px 30px;
    background: #3a84e3;
    color: #fff;
    border: none;
}
button.share
{
    padding: 10px 20px;
    color: #fff;
    border: none
}
.share-btns
{
    margin: 30px 0
}
.related-jobs
{
    margin-top: 7%;   
}
div.related-jobs
{
    width: 60%;
    justify-content: space-around;
    margin: 0
}
.flex.jc-between.items-center
{
    height: 150px;
    font-size: 15px;
    border-top: 1px solid #ddd
}
.related-jobs-empresa
{
    color: #3a84e3
}
.view-job
{
    padding: 15px 25px;
    background: #fff;
    border: 1px solid #e7e7e7
}
.contact-box
{
    border: 1px solid #ddd;
    background: #fff
}
.contact-box input, .contact-box textarea
{
    width: -webkit-fill-available;
    margin-bottom: 25px
}
     .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

    .strike > span {
        position: relative;
        display: inline-block;
        color: #999999;
        margin: 20px 0;
        font-weight: 600
    }
	
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: #e0e0e0;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }

.flex.jc-between ul
{
    list-style: none;
    padding: 0
}
.flex.jc-between ul li
{
    padding-bottom: 5px;
    color: #878787
}
.view-caja
{
    text-align: left;
    border: 1px solid #ddd;
    padding-bottom: 30px;
  
}
.view-circle
{
    position: absolute;
    top: -40px;
    margin-left: 70%;
    background: #3a84e3;
    padding: 30px 20px;
    border-radius: 50px;
    color: #fff
}
.view-caja p, .view-caja span {
    padding-left: 5%;
}
.candidatos-1
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.candidatos-2
{
       width: 50%;
    text-align: left;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.candidatos
{
    width:30%;
        margin-bottom: 15px;
}
.paquete-caja
{
    border: 1px solid #ddd;
    width: 30%;
    padding: 10px 0 30px;
}
.paquete-caja p
{
    padding: 10px
}
.last-section {
    display: flex;
    width: 47%;
    align-items: center;
    margin-bottom: 40px
}
.last-section-text
{
    margin-left: 30px
}
.last-section a
{
    color: #648eca;
    text-decoration: none;
    font-size: 12px
}

@media (max-width: 1024px){
    /*Index */
    .encabezado-index {
    width: 100%;
    padding: 90px;
}s
    .checkboxes {
    width: 60%;
}
    /*Company */
    iframe {
    height: 300px;
}
    .width-30 {
    width: 40%;
}
/*Footer */
    footer h2 {
    font-size: 20px;
}
    
/*Job Details */    
    .info-desc p {
    font-size: 12px;
}
    .login {
    width: 50%;
}
     .flex.content {
    width: 90%;
}
    
}


@media (max-width: 768px){
   .info-desc p {
    font-size: 11px;
}
    .info-desc span {
    display: -moz-box;
    margin-bottom: 5px;
}
    .flex.content {
    width: 90%;
 }
    .job-desc {
    width: 80%;
}
    .width-40 {
 width: 80%;
}
    footer h2 {
    font-size: 15px;
}
    .footer-in {
    width: 90%;
}
    .checkboxes
    {
        width: 100%
    }
    #seccion-3-hijo
    {
        width: 100% !important
    }
    .candidatos-1, .candidatos-2, .last-section
    {
        width: 100% !important
    }
    .paquete-caja
    {
        width: 80%;
        margin: 0 auto
    }
    .view-caja
    {
        margin: auto
    }
    .content-2
    {
        padding: 0 !important;

        position: relative !important;
        

        top: 0 !important;

        width: 100%;
    }
    #seccion-1
    {
        width: 100% !important
    }
    .flex.content-2, .flex.checkboxes
    {
        display: flex;
        flex-wrap: wrap
    }
}

@media (max-width: 700px){
    .info-desc {
    height: 330px;
    display: flex;
}
    .flex.content {
    width: 80%;
}
    .mr-1 {
    margin-right: 0px;
}
    
  .width-30 {
    width: 100%;
    text-align: center !important;
    font-size: 12px;
    margin-top: 10px !important;
}
    .align-center {
    display: block;
    align-self: center;
    text-align: center !important;
}
 .flex {
    display: block;
}   
    .width-75 {
    width: 100%;
}
    .width-25 {
    width: 100%;
}
    .input-login {
    width: 100%;
}
    .contact-box input, .contact-box textarea {
    width: 100%;
}
    .flex.jc-between.items-center {
    height: 230px;
    margin-bottom: 10px;
}
    .width-40 {
    width: 100%;
}
    div.related-jobs {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
    .view-job {
    width: 50%;
    text-align: center !important;
    margin: auto !important;
    margin-top: 10px !important;
}
    .footer-1 {
    width: 100%;
    margin-bottom: 20px;
    }

    .footer-in {
    display: block;
    margin: 0 auto;
}
    .footer-3 {
    display: block;
}
    footer button {
    padding: 10px 0px;
        padding-left: 0px;
    width: 30%;
    display: ruby-text;
    padding-left: 10px;
    margin-top: 15px;
}

   .flex {
    display: ruby;
    width: 90% !important;
} 
/*
.info-desc {
    height: 430px;
}
*/
.icon-job-desc {
    display: initial;
    margin-right: 10px;
}
.info-desc .border-left {
    padding: 30px 0 30px 0px;
}

.job-desc {
    width: 100%;
    font-size: 8px;
}
button.share {
    padding: 10px 10px;
}
.flex {
    display: block;
    width: 100% !important;
}
.login {
    width: 60%;
}
.inline {
    display: inline-flex;
    justify-content: flex-end;
    margin: auto;
}
.a-registro {
    margin-bottom: 10px;
}
    
}
