@import './generic-styles.scss';
@import './functions.scss';


#seccion{
    &-one{
        @include createBlock(block,100%,$max-width,auto);
        
        @media all and(min-width:769px){
             width:80%;
        }
    }
    &-two
   {
       @include createBlock(block,100%,$max-width,auto);
      
       @media all and(min-width:769px){
         display:block;
         padding-top: 55px;
       }
       @media all and(max-width:1024px){
        @include createBlock(block,80%,$max-width,auto);
       }
   }
   &-three{

    text-align: center; 
    background: #f3f7fa; 
    padding: 40px 0px;

    .seccion-three-article
    {
        @include createBlock(block,80%,$max-width,auto,"true",flex-start,space-between);
         

        @media all and (min-width: 768px) and (max-width:992px)
        {
            clear: both;
            display:block;
            overflow: hidden;
            
            >*{
                float:left;
                margin-left: 10%;
                margin-bottom: 2%;
            }
        }

        .view-caja
        {
            width: 80%;

            @media all and (min-width: 768px) and (max-width:992px)
            {
                width: 35%;

                img
               {
                   max-width: 100%;
               }
               .description
               {
                   display: block;
                   padding-bottom: 2.5em;
               }
               .date-time
               {
                   display: block;
                   padding-top: 2.5em;
               }
            } 
            img
            {
                display: none;
                @media all and(min-width:768px) {
                  display: block;
                }
            }
        }
        @media all and (min-width: 993px) 
        {
            .view-caja
            {
               width: 32%;
               min-height: 330px;
               margin-bottom: 2%;
               max-width: 400px;

               img
               {
                   width: 100%;
               }
               .description
               {
                   display: block;
                   padding-bottom: 2.5em;
               }
               .date-time
               {
                   display: block;
                   padding-top: 2.5em;
               }
            }
        }

        #seccion-3-hijo
        {
          width: 80% !important;
          margin:0px auto;

          @media all and(min-width:993px) {
              width:100%;
          }
        }
    }
  
}
&-four{
    @include createBlock(block,100%,$max-width,auto);
}
&-use{
    @include createBlock(block,100%,$max-width,auto);
}
&-five
{
    clear: both;
    @include createBlock(block,80%,$max-width,auto);
    margin:0px auto;
    text-align: center; 
    background: #fff; 
    padding: 40px 0;
    overflow: hidden;
}
&-lastnews{
    background:#243141;
    width: 100%;
    height: 350px;
   &-content{
    @include createBlock(block,80%,$max-width,auto); 
   }
}
&-six{
    
    background:#ddd url(img/banner-213.jpg);
    background-size: cover;
    color: #fff;
    display: none;
    height: 360px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    overflow: hidden;

    &-container
    {
        @include createBlock(block,100%,$max-width,auto);
    }

    @media  all and(min-width:700px) and (max-width:1024px) {
      background-position-x: -155px;
    }
    @media all and(min-width:993px){
        display:flex;
    }
 }
 &-seven{
    @include createBlock(block,80%,$max-width,auto,"true",flex-start,space-between);
    flex-wrap: wrap; 
    padding: 100px 0;
 }
}

.view-circle
{
    
    background: #3a84e3;
    border-radius: 50px;
    color: #fff;
    padding: 26px 17px;
    position: absolute;
    text-decoration: none;
    top: -40px;
    margin-left: 70%;
}

#section-subscribe{
   
   
    background: #f4f7fa;
    width:100%;
    height:400px;
   
    
    .subscribe-kid
    {
        @include createBlock(block,100%,$max-width,auto);
        background:url('img/subcribe.png') no-repeat;


        @media all and(max-width:1024px)
       {
           background-position: -220px 0px;
       }
        background-size: cover;
        position: relative;
        text-align: center;
        height:100%;

        h2{
            position: absolute;
            margin:0px;
            text-align: center;
            line-height: 8px;
            width: 100%;
            top:32px;
            .subtitle{
                color:#a9aaab;
                font-size:14px;
            }
        }
        
    }
    
    .wayuse{
       
       height:200px;
       width:17%;

       &:first-child{
           top: 130px;
           left: 257px;
       }

       p{
           line-height: 2px;
       }

       &-container{
           align-items: center;
           display: flex;
           position: relative;
           justify-content: space-around;
           margin:0px auto;
           height: 100%;
           width:100%;
       }
       &-img
       {
           align-items: center;
           background: #f4f7fa;
           border: 1px solid darken(#edf2f7,10%);
           border-radius: 50%;
           display: flex;
           flex-direction: column;
           height: 150px;
           justify-content: center;
           overflow: hidden;
           margin:0px auto;
           width: 150px;
       }
       &-title
       {
           font-weight: bold;
       }

   
    }
}

.candidatos-1
{
    box-sizing: border-box;
    align-items: center;
    width: 100%;

    @media all and(max-width:768px) {
       padding-left:18%;
    }
    @media all and(min-width:768px){
        width:50%;
        margin:0px auto;
    }

}
.candidatos-2
{
    
    padding-left: 30px;
    display: flex;
    text-align:left;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media all and(min-width:768px) 
    {
        width:50%;
        margin:0px auto;
    }
    h2{
        text-align:center;
    }
    .description{
        display:none;
        @media all and(min-width:993px){
            display: block;
            padding-bottom: 10px;
        }
    }
    .botones{
        align-items: center;
        display:flex;
        justify-content: center;

    }
}
.candidatos
{
    align-items: center;
    float: left;
    background: #ddd;
    display:flex;
    width: 26%;
    min-height: auto;
    margin-right: 1%;
    justify-content:center;
    overflow: hidden;
    margin-bottom: 5px;

    @media screen and(min-width:768px) {
        width: 32%;
    }

    margin-right: 1%;
    overflow: hidden;

    img{
        position: relative;
        width: 100%;
    }
}


/*
promociones
*/


.paquete-caja
{
    border: 1px solid #ddd;
    padding: 10px 0 30px;
    margin: 0 auto;
    width: 31%;
    float: left;
    margin-left: 1%;
    @media all and(min-width:993px)
     {
        width:27%;
     } 

     p{
        padding: 10px;
     }
}
.section-news
{ 
  display:none;
  @media all and(min-width:993px) {
     display:block;
  }
}