/*
  Estilos para el index
*/

.view-circle
{
    
    background: #3a84e3;
    border-radius: 50px;
    color: #fff;
    padding: 26px 17px;
    position: absolute;
    text-decoration: none;
    top: -40px;
    margin-left: 70%;
}

#section-subscribe{
    width:100%;
    height:400px;
    .subscribe-kid
    {
        background: #f4f7fa url('../img/subcribe.png') no-repeat;
        @media all and(max-width:1024px)
       {
           background-position: -220px 0px;
       }
        background-size: cover;
        position: relative;
        text-align: center;
        height:100%;

        h2{
            position: absolute;
            margin:0px;
            text-align: center;
            line-height: 8px;
            width: 100%;
            top:32px;
            .subtitle{
                color:#a9aaab;
                font-size:14px;
            }
        }
        
    }
    
    .wayuse{
       
       height:200px;
       width:17%;

       &:first-child{
           top: 130px;
           left: 257px;
       }

       p{
           line-height: 2px;
       }

       &-container{
           align-items: center;
           display: flex;
           position: relative;
           justify-content: space-around;
           margin:0px auto;
           height: 100%;
           width:100%;
       }
       &-img
       {
           align-items: center;
           background: #f4f7fa;
           border: 1px solid darken(#edf2f7,10%);
           border-radius: 50%;
           display: flex;
           flex-direction: column;
           height: 150px;
           justify-content: center;
           overflow: hidden;
           margin:0px auto;
           width: 150px;
       }
       &-title
       {
           font-weight: bold;
       }

   
    }
}

.candidatos-1
{
    box-sizing: border-box;
    align-items: center;
    width: 100%;

    @media all and(max-width:768px) {
       padding-left:18%;
    }
    @media all and(min-width:768px){
        width:55%;
        margin:0px auto;
    }
}
.candidatos-2
{
    
    padding-left: 30px;
    display: flex;
    text-align:left;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media all and(min-width:993px) 
    {
        width:60%;
        margin:0px auto;
    }
    h2{
        text-align:center;
    }
    .description{
        display:none;
        @media all and(min-width:993px){
            display: block;
            padding-bottom: 10px;
        }
    }
    .botones{
        align-items: center;
        display:flex;
        justify-content: center;

    }
}
.candidatos
{
    align-items: center;
    float: left;
    background: #ddd;
    display:flex;
    width: 26%;
    min-height: auto;
    margin-right: 1%;
    justify-content:center;
    overflow: hidden;
    margin-bottom: 5px;

    @media screen and(min-width:768px) {
        width: 32%;
    }

    margin-right: 1%;
    overflow: hidden;

    img{
        position: relative;
        width: 100%;
    }
}


/*
promociones
*/


.paquete-caja
{
    border: 1px solid #ddd;
    padding: 10px 0 30px;
    margin: 0 auto;
    width: 60%;

    @media all and(min-width:993px)
     {
        width:27%;
     } 

     p{
        padding: 10px;
     }
}